.popup__container {
    width: 430px;
    min-height: 330px;
    background-color:white ;
    position: relative;
    overflow: visible;
    border-radius: 10px;
    margin: 0 auto 0;
   
   }

   @media screen and (max-width:768px){
    .popup__container{
       width: 282px;
        min-height: 322px;
    }
    
}