
.element__like{
    background-image: url(../../../image/group.svg);
    min-width: 22px;
    max-height: 19px;
    background-color:white;
    border:none;
    background-repeat: no-repeat;
    margin: 30px 10px;
    opacity: 1;
    
    
}

.element__like:hover{
    opacity: 0.6 ;
    transition: 0.5s linear;
    cursor: pointer;
  }


